
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-color: black;
}

/* HEADER */

.header1{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    color: white;
    height: 6rem;
}

.logo{
    height: 6rem;
    object-fit: fill;
    padding-left: 1.3rem;
}

.pesquisar{
    background-color: white;
    margin-top: 1.5rem;
    width: 40rem;
    height: 2rem;
    padding: 0.5rem 1rem;
}   



.header1 .login{
    display: flex;
    align-items: center;
    margin-right: 8rem;
}

.login .fas{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.login .far{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.login a{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.header2{
    display: flex;
    background-color: white;
    color: black;
    height:2.5rem;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.header2 li{
    display: inline-block;
    padding: 20px;
}

.header2 a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;

}

.borda{
    border-right: 2px solid rgb(190, 190, 190);
    padding: 12px 0 11px 13px;
}

.claro{
    color: rgb(190, 190, 190);
    padding: 0 1rem;
    font-weight: 100;
}

.header2 .fas{
    color: rgb(190, 190, 190);
}



.header2 a:hover{
    text-decoration: underline;
    color: rgb(190, 190, 190);
    
}
/* HEADER */


/* FEMININO.HTML */
.inf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    height: 80%;
    gap: 2rem;
    row-gap: 2rem;
    margin: auto;
}

.imginf{
    max-width: 100%;
    width: 85%;
    height: 100%;
    transition: transform 0.3s ease;
}

.imginf:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* FOOTER */

footer{
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 2, 1fr;
    background-color: rgb(202, 198, 198);
    color: black;
    width: 100%;
    margin-top: 2rem;
    gap: 10px;
}

.footer1{
    display: grid;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
    border-bottom: 0.5px solid darkgrey;
}

.footer1 h1{
font-size: 0.8rem;
}

.footer1 h2{
font-size: 0.6rem;
}

.footer2{
    Display: grid;
    width: 100%;
    margin-top: 1rem;
    margin-left: 15%;
    text-align: justify;
}

.footer2 h1{
    font-size: 0.8rem;
    }

.footer2 li{
    color: black;
    font-size: 0.7rem;
    margin-top: 0.8rem;
    list-style-type: none;
    
}

.footer2 a{
    text-decoration: none;
    color: black;
}

.grid1{
    grid-column: 1; 
    grid-row: 1;  
}

.grid2{
    grid-column: 2; 
    grid-row: 1;  
}

.grid3{
    grid-column: 1; 
    grid-row: 2;  
}

.grid4{
    grid-column: 2; 
    grid-row: 2;  
}
@media (max-width: 600px) {
    .carrossel-slide {
        width: 33%;
    }
    .header1 {
        width: 100%;
    }
    .header2 {
        width: 100%;
        font-size: 0.5rem;
    }



    .login a{
        font-size: 0.8rem;
    }

    .login .far{
        margin-left: 0.8rem;
    }

    .grid4{
        width: 15rem;
    }

    .footer2{
        width: 80%;
    }

    .footer1{
        width: 97%;
    }
}
